<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
ติดต่อ
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-icon name="call-outline"></ion-icon>093-024-7111<br>
  <ion-icon name="mail-outline"></ion-icon>peepee256111<ion-icon name="at-outline"></ion-icon>gmail.com<br>
  <ion-icon name="logo-facebook"></ion-icon>วทัญญู พานนนท์<br>
  <ion-icon name="logo-instagram"></ion-icon>y0ung_pee<br>
  <ion-icon name="logo-tiktok"></ion-icon>Real name<br>

</ion-content>
